/* TABLE CELLS======= */
#table_div td {
  padding: 5px;
  border-width: 1px;
  border-color:#999999;
  /*font-family: Helvetica, Arial, sans-serif; */
  text-rendering: optimizeLegibility;
  font-size: 12px !important;
  -webkit-font-smoothing: antialiased; 
  -webkit-font-smoothing: subpixel-antialiased;
  
}

#table_div {
  border-width: 0px;
}

#table_wrapper {
  border: 0px solid #888;
  border-collapse: collapse;
}

#outerTable{
  border: 0px solid black;
  border-collapse: collapse;
}

/* COMPUTER SCIENCE 1 */
#outerTable .top {
  font-family: "Helvetica", sans-serif;
  background-color: #990000;
  padding: 5px;
  border-width: 1px;
  font-size: 12px !important;
  text-align:left;
}

/* TITLE */
#outerTable .titleRed {
  color: white;
  text-align:left;
  float: left;
}
/* LINKS */
#outerTable .linksRed {
  text-align:right;
  float: right;
}
#outerTable .linksRed a{
  color: #e37474;
}


/*HEADER MENU==============*/
#table_div th {
  text-transform: uppercase;
  margin-bottom: 15px;
  border-width: 1px;
  font-size: 12px !important;
  padding: 5px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px !important;
}

/*WEEK HEADER*/
#table_div th:nth-child(1) {
  padding: 3px !important;
  width: 6px !important;
  color: Black;
}

/*WEEKS NUMBER ======================== */
#table_div td:nth-child(1) {
  font-size: 10px !important;
   text-align: center;
  font-weight: bold;
  color: black;
}

/*DATES=================================*/
#table_div td:nth-child(2) {
  font-family: Helvetica, Arial, sans-serif;
  padding: 3px !important;
  width:60px !important;
  font-size: 10px !important;
  text-transform: uppercase;
  text-align: center;
  
}

/*TOPICS=================================*/
#table_div td:nth-child(3) {
  padding-left: 8px !important;

  
}

/*DUEDATES=================================*/
#table_div td:nth-child(4) {
  padding-left: 8px !important;
}

